.nav-bar{
  display: flex;
 justify-content: space-between;
  width: 250;
  height: 100;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #888888;
  border: none;
  margin: 5px;
}
.flex-1{
  gap: 5px;
  align-items: center;
  justify-content: space-between;
border: 1px solid black;
 box-shadow: 5px 5px 10px #888888;
 border: none;
}

.card-main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
 

  place-items: center;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  color: darkgreen;
}
.card-compact{
border: 1px solid black;
box-shadow: 5px 5px 10px;
gap: 1rem;
box-shadow: 3px 3px 100px;
}
.indro{
  height: 280px;
  border: 1px solid black;
  padding: 2px;
    box-shadow: 5px 5px 10px #888888;
    border: none;
}
.h3{
font-size: 50px;
color: rgb(10, 10, 192);
}
.p{
color: brown;
font-size: larger;

}
.carousel {
border: 1px solid black;
box-shadow: 5px 5px 10px #888888;
border: none;

}
.cyb{
  display: flex;
  flex-direction: row;
 place-content: end;
}